# ID of the chain to use
chain_id: 

# The mnemonic of the wallet that will execute the liquidations
mnemonic: 

# The endpoint to connect to the blockchain from
api_url: 

# The Band oracle REST endpoint. The latest one can be found here: https://docs.bandchain.org/technical-specifications/band-endpoints.html
band_url: 

# The frequency (in milliseconds) at which the bot will run the liquidation logic.
interval: 

# The overseer contract containing the address and code_hash
# address - the address of the overseer contract
# code_hash - the code hash of the overseer contract
overseer: 
{ address: , code_hash: }

# The markets to liquidate from. Each entry contains:
# address - the address of the market to liquidate from
# underlying_vk - The viewing key for the UNDERLYING token of the wallet that will execute the liquidation
# code_hash - the code hash of the market contract
markets:
 - { address: , underlying_vk: , code_hash: }
